

@media screen and (min-width: 768px) and (max-width: 992px) {

  .featured_texted {
    position: relative;
  } 
  
  .max-with-1 {
    position: absolute;
    top: 35%;
    right:0;
    left:0;
    width: 80px;
    height: 30px;
    text-align: center;
    border: 1px solid #000000;
    transform-origin: 0 0;
    transform: rotate(-90deg);
  }

  }

  @media only screen and (min-width: 576px) and (max-width: 768px) {

    .featured_texted {
      position: relative;
    } 
    
    .max-with-2 {
      position: absolute;
      top: 20%;
      right:0;
      left:0;
      width: 80px;
      height: 30px;
      text-align: center;
      border: 1px solid #000000;
      transform-origin: 0 0;
      transform: rotate(-90deg);
    }
  
    }

    @media only screen and (min-width: 300px) and (max-width: 575px) {

      .featured_texted {
        position: relative;
      } 
      
      .max-with-3 {
        position: absolute;
        top: 45%;
        right:0;
        left:0;
        width: 80px;
        height: 30px;
        text-align: center;
        border: 1px solid #000000;
        transform-origin: 0 0;
        transform: rotate(-90deg);
      }
    
      }




/*----------------------BuyNoir-----------------------*/
